@use 'style';

@mixin display-items($direction : row , $justify : center , $align : center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.authForm_container{
  @include display-items(column, center, center);
  .authForm_button{
    width: 300px;
    height: 120px;
    padding: 12px;
    border-radius: 10px;
    border: 4px solid antiquewhite;
    background-color: style.$wide-color;
    font-size: 2em;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -3px;
    margin: 20px 0;
    box-shadow: inset 3px 2px 5px #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  .authForm_button:hover{
    box-shadow: inset 2px 2px 5px #bdbdbd;

  }
  .authForm_box {
    height: fit-content;
    text-align: center;
    width: 330px;
    background-color: style.$white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #bdbdbd;
    .authForm_form{
      @include display-items(column, center, center);
      }
  }
}

.auth-box{
  flex-direction: column;
  width: 330px;
  a{
    text-decoration: none;
    color: style.$black;
    margin-top: 40px;
  }
  span{
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: style.$wide-color;
  }
  input{
    padding: 13px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    outline: style.$point-color;
    border: none;
    border-bottom: 1px solid style.$black;
  }
  p{
    letter-spacing: -1px;
    margin-bottom: 10px;
    font-family: "Noto Sans KR", sans-serif;
  }
}
.findPassword_container{
  @include display-items(column, center, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bdbdbd9a;
    .findPassword_box{
      top: 15%;
      width: 330px;
      height: fit-content;
      padding: 30px;
      background-color: style.$white;
      border-radius: 20px;
      box-shadow: 2px 2px 2px #bdbdbd;
      z-index: 100;
    .findPassword_form{
      text-align: center;
      .findPassword_modal{
        @include display-items(column, flex-start, flex-start);
      }
    }
  }
}
.findPassword_modal{
  @include display-items(column, flex-start, flex-start);
}