@use 'style';

.itemTable_tr{
    cursor: pointer;
    td{
      letter-spacing: -1px;
      padding: 8px 2px 2px 2px;
      border-bottom: 1px dotted #7c7272;
    }
    .item_modal{
      background-color: style.$white;
      padding: 5px 7px;
      margin-left: 2px;
      border: 1px solid #cfcfcf;
      cursor: pointer;
      transition: 0.3s;
    }
    .item_modal:hover{
      background-color: #7c7272;
    }
}
.itemTable_tr:hover{
    background-color: style.$main-color;
}