$wide-color: #ffe490;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  small{
    color: orangered;
  }
}

footer{
  width: 100vw;
  text-align: center;
  letter-spacing: -1px;
  padding: 16px 0px;
  bottom: 0;
}
::-webkit-file-upload-button{
    border: none;
    background-color: $wide-color;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
ul{
  display: flex;
  .selected{
    padding: 0px 12px;
  }
  li{
    list-style: none;
    cursor: pointer;
  }
}

/*Loading 컴포넌트*/

#loading-bouncer {
    position: absolute;
    top: 25%;
    left: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100px;
    height: 100px;
  }
  
  #loading-bouncer div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fcdb76;;
    -webkit-animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
            animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
  }
  
  #loading-bouncer div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
    opacity: 0.8;
  }
  
  #loading-bouncer div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    opacity: 0.6;
  }
  
  #loading-bouncer div:nth-child(4) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    opacity: 0.4;
  }
  
  @-webkit-keyframes bouncer {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  
  @keyframes bouncer {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }