@use 'style';

.select_div{
    display: flex;
    cursor: pointer;
    .label{
        letter-spacing: -0.7px;
        cursor: pointer;
    }
    .select_radio{
        cursor: pointer;
    }
}
.select_div:hover{
    background-color: style.$wide-color;
}
.select{
    width: 300px;
    outline-color: style.$wide-color;
    padding: 7px 16px;
    margin: 12px;
    border-radius: 10px;
    border: 2px solid style.$wide-color;
}