@use 'style';

@mixin display-items($direction : row , $justify : center , $align : center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin container-design(){
  border-radius: 10px;
  background-color: style.$white;
  box-shadow:inset 0px 0px 1px #bdbdbd, 2px 2px 2px #bdbdbd;
  padding: 20px;
}

@mixin mobile {
  @media (min-width: #{style.$breakpoint-mobile}) and (max-width: #{style.$breakpoint-tablet - 1px}) {
    @content;
  }
}

.contents_container{
  @include display-items(row, center, center);
}
.writeForm_form{
  @include display-items(column, center, center);
  @include container-design();
  height: 500px;
  margin-top: 16px;
  .writeForm_zone{
    @include display-items(row, center , flex-start);
    .writeForm_div{
    @include display-items(column, center , center);
    .writeForm_select_box{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 20px;
    }
    p{
    @include display-items(row, space-evenly, center);
      width: 100%;
    }
    }
    .preview{
        @include display-items(row, flex-end, flex-start);
        margin-left: 22px;
        position: relative;
        width:fit-content;
        height: 150px;
      button{
        position: absolute;
        border: none;
        background-color: style.$point-color;
        color: #fff;
        padding: 5px 9px;
        margin: 5px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    }
  }


@include mobile(){
  .contents_container{
    @include display-items(column-reverse, center, center);
    .writeForm_form{
      height: fit-content;
      width: 100%;
      .writeForm_zone{
        @include display-items(column, center , flex-start);
        .writeForm_div{
        @include display-items(column, center , flex-start);
      }
      }
    }
  }
}