<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContentsMapper">  
  <insert id="inputContent"> 
    INSERT INTO react.taeistory_piggy
    (
      useremail
      , food
      , country
      , foodExpenses
      , exchangedMoney
      , currencyCode
      , commentary
      , tripDate
      , reg_date
      , imageURL
      , id
    )
    VALUES (
    #{useremail}
      , #{food}
      , #{country}
      , #{foodExpenses}
      , #{exchangedMoney}
      , #{currencyCode}
      , #{commentary}
      , #{tripDate}
      , DATE_FORMAT(now(), '%Y%m%d%H%i%s')
      , #{imageURL}
      ,#{id}
      )
  </insert>

  <select id="contentsList">
    SELECT
    id
    ,tripDate
    ,country
    ,food
    ,foodExpenses
    ,currencyCode
    ,exchangedMoney
    FROM react.taeistory_piggy
    WHERE useremail = #{useremail}
    ORDER BY reg_date DESC
  </select>

  <delete id="deleteContent">
    DELETE FROM react.taeistory_piggy
    WHERE id = #{id}
  </delete>

  <select id="totalAmount">
    select 
    IFNULL(sum(exchangedMoney),0) 
    as sum_of_exchangedMoney 
    from taeistory_piggy 
    where useremail=#{useremail};
  </select>

  <select id="userCountryList">
    select 
    distinct country 
    from react.taeistory_piggy 
    where useremail=#{useremail}
    order by country ASC;
  </select>

  <update id="editContent">
    update taeistory_piggy 
    SET 
    food = #{editFood}
    ,foodExpenses = #{editFoodExpenses}
    ,country = #{editCountry}
    ,exchangedMoney = #{editExchangedMoney}
    ,currencyCode =#{editCurrencyCode}
    ,commentary=#{editCommentary}
    ,tripDate = #{editTripDate}
    ,imageURL=#{editImageURL}
    where id = #{id};
  </update>

  <delete id="deleteAll">
    DELETE FROM react.taeistory_piggy
    WHERE useremail = #{useremail}
  </delete>

  <select id="contentDetail">
    select 
    *
    from react.taeistory_piggy 
    where useremail=#{useremail} and id=#{id};
  </select>
  
  </mapper>